*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

nav{
    max-width: 80rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav h2{
    font-size: 28px;
    color: #304966;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover{
    color: #304966;
}

.menu-icon{
    font-size: 24px;
    display: none;
}


@media only screen and (max-width: 768px) {

    nav{
        flex-wrap: wrap;
    }

    nav ul{
        margin-top: 20px;
        border-radius: 20px;
        padding: 20px;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        align-items: start;
        background-color: #304966;
    }

    .menu-icon{
        display: flex;
    } 

    nav ul.hidden{
        display: none;
    }

    nav ul li a{
        color: #fff;
    }
}
